@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background: #ffffff;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 150;
}
.container {

  display: flex;
  align-items: center;
    justify-content: center;
    min-height: 90vh;
  margin: 1rem 30rem 1rem 30rem;
  }

.screen__content{
  display: flex;
  box-sizing: border-box;
  border: 3px solid rgb(45, 35, 157);
  border-radius: 25px;
  padding-right: 1rem;
  background-color: #3599dc;
    padding: 70px;
    margin: 1rem 30rem 10rem 30rem;
}

.content_2{
  margin-left: 2rem;
  margin-top: 5px;
  font-weight: 800;
  font-size: 20px;

}

.content_2 > input{
  width: 18rem;
  height: 30px;
  
}

.content_2 > button{
  display: grid;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  font-weight: 550;
}

.content_2>h2 {
  padding-left: 3rem;
  margin-bottom: 10px;
  color: rgb(10, 10, 9);
}
.sinup_button {
  color: aliceblue;
  font-size: 15px;
}