@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

#main {
  text-align: center;
  width: 35rem;
  height: auto;
  margin: 2rem 30rem 3rem 30rem;
  justify-content: center;
  display: flex;
  
}

#sub-main {
  border: 3px solid rgb(16, 16, 17);
  background-color: #dc8935;
    padding: 28px;
}

#imag {
  padding-top: 5px;
  justify-content: center;
  display: grid;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

#fields {
  margin-left: 2rem;
    margin-top: 5px;
    font-weight: 800;
    font-size: 20px;
  }

#lble {
  font-size: 20px;
}

#fields>input {
  width: 18rem;
    height: 30px;
}

button {
  padding: 10px;
}